body {
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    height: 10vh;
    width: 100%;
    background-color: whitesmoke;
}

header h1 {
    margin: 0;
    text-transform: uppercase;
}

/* ==========================================================================
   SECTION
   ========================================================================== */

section {
    height: 90vh;
    background-image: url(../images/mannequin.jpg);
    background-size: cover;
    background-position: center center;
}

#head {
    height: 15vh;
    background-color: darkred;
    opacity: .5;
}

#chest {
    height: 22vh;
    background-color: cadetblue;
    opacity: .5;
}

#pants {
    height: 33vh;
    background-color: limegreen;
    opacity: .5;
}

#shoes {
    height: 20vh;
    background-color:  mediumpurple;
    opacity: .5;
}