* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Open Sans', sans-serif;
}


/* ==========================================================================
   HEADER
   ========================================================================== */

header {
    height: 10vh;
    width: 100%;
    background-color: whitesmoke;
}

header h1 {
    text-transform: uppercase;
}